<div class="disc-p1-grey-container">
  <h1>Vitality Drive Dashboard</h1>
  <br>

  <!--Sensor notification-->
  <div class="disc-card-border-raised disc-vitality">
    <div class="header">
      <img src="assets/icons/icon-link-insure-sensor.svg">
      <div>
        Collect your Vitality Drive sensor
      </div>
    </div>
    <div class="body">
      Visit your nearest Tiger Wheel & Tyre branch and install your Vitality Drive Sensor.
    </div>
  </div>

  <!--Profile-->
  <div class="disc-profile-grid">
    <div class="disc-card">
      <div class="flex align-center justify-between">
        <div>
          <img class="profile-pic" src="assets/img/profile.jpg">
          <span class="small-card-primary">Daniel R Pearson: </span>
          <span class="small-card-secondary">Planholder</span>
        </div>
        <img src="assets/icons/chevron-down.svg">
      </div>
    </div>

    <div class="disc-card flex align-center justify-between">
      <div>
        <span class="small-card-primary">Score and rewards period: </span>
        <span class="small-card-secondary">Janurary 2020</span>
      </div>
      <img src="assets/icons/chevron-down.svg">
    </div>
  </div>

  <!--Status-->
  <div class="disc-card">
    <div class="thin-header">Your Vitality Drive status is <span class="silver-indicator">Silver</span></div>
    <div class="drive-status">
      <div class="drive-status-section blue-gradient left-side"></div>
      <div class="drive-status-section bronze-gradient"></div>
      <div class="drive-status-section silver-gradient"></div>
      <div class="drive-status-section gold-gradient"></div>
      <div class="drive-status-section diamond-gradient right-side"></div>
      <div class="drive-status-icon">
        <img src="assets/icons/car.svg">
      </div>
    </div>
    <div class="points-tracker">
      200 points to get to Gold
    </div>
  </div>

  <!--Fuel cash back-->
  <div class="disc-card">
    <div class="thin-header">Your fuel cash back <img src="assets/icons/more-information.svg"></div>
    <div class="last-updated">Last updated: 20 Janurary 2020</div>
    <div class="flex justify-between align-end">
      <div class="cashback-text">Your project fuel cash back</div>
      <div class="cashback-amount">R125.00</div>
    </div>

    <div class="cashback-status">
      <div class="cashback-status-section blue-gradient left-side"></div>
      <div class="cashback-status-section grey-section right-side"></div>
    </div>
    
    <div class="flex justify-between align-center">
      <div>R0.00</div>
      <div>R400.00</div>
    </div>

    <div class="flex justify-between align-center">
      <div class="cashback-mini-card selected">
        <div class="header">Total Vitality Drive points</div>
        <div class="value">900/1600</div>
      </div>
      <div class="cashback-mini-card">
        <div class="header flex justify-between">Qualifying spend <img src="assets/icons/more-information.svg"></div>
        <div class="value">R400.00</div>
        <div class="card-link">View spend</div>
      </div>
      <div class="cashback-mini-card">
        <div class="header flex justify-between">Qualifying cash back % <img src="assets/icons/more-information.svg"></div>
        <div class="value">5%</div>
      </div>
    </div>

    <div class="card-link">View cash back history</div>
  </div>

</div>