/* Colors */
$disc-dark-blue: #004B8D;
$disc-white: #FFFFFF;
$disc-black: #000000;
$disc-silver: #929292;

/* Lines */
$disc-line-grey: #F5F5F5;
$disc-line-border-grey: #E2E2E2;
$disc-line-card-grey: #ECEEEF;

/* Fonts */
$disc-font-standard: #555555;
$disc-font-pimary-lighten: #0E68BD;
$disc-font-accent6-darken2: #050A0D;
$disc-font-tertiary-darken2: #545657;
$disc-font-tertiary-lighten-1: #86898B;
$disc-font-vitality-lighten-1: #EE7F65;

