/* Colors */
$disc-dark-blue: #004B8D;
$disc-white: #FFFFFF;

/* Lines */
$disc-line-grey: #F5F5F5;
$disc-line-border-grey: #E2E2E2;

/* Fonts */
$disc-font-standard: #555555;
$disc-font-pimary-lighten: #0E68BD;
$disc-font-accent6-darken2: #050A0D;
$disc-font-tertiary-darken2: #545657;

